.agendamento-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

.agendamento-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  background-color: #c0daf6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 1000;
}

.left-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon-back {
  height: 24px;
  cursor: pointer;
}

.logo-img {
  height: 40px;
}

.user-info {
  display: flex;
  gap: 10px;
}

.user-btn,
.logout-btn {
  background-color: transparent;
  color: #1d4ed8;
  border: none;
  padding: 6px 14px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
}

.agendamento-content {
  background: white;
  padding: 10px 40px;
  margin-top: 100px;
}

.section-title {
  font-size: 1.4rem;
  margin-bottom: 10px;
  color: #2563eb;
}

.form-layout {
  display: flex;
  gap: 30px;
  align-items: flex-start;
}

.form-left {
  margin-top: 0;
  flex: 1;
}

.form-right {
  flex: 1;
  margin-top: 0;
  
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 15px;
}

.form-group input,
.form-group select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-icon {
  position: relative;
}

.input-icon input {
  width: 100%;
}

.input-icon img {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  height: 18px;
}

.observacoes-textarea {
  padding: 20px;
  width: 190%;
  height: 20%;
  resize: none;
}

.vertical-divider {
  width: 1px;
  background-color: #ccc;
  height: auto;
  min-height: 500px; 
}

.search-block {
  display: flex;
  gap: 10px;
  width: fit-content;
  margin-bottom: 10px;
}

.search-block input {
  width: 200px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn-buscar{
  background-color: #007bff;
  color: white;
  padding: 6px 16px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  height: 36px; 
}

.form-buttons {
  margin-top: 30px;
  display: flex;
  gap: 10px;
}

.btn-salvar {
  background-color: #007bff;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
}

.btn-cancelar {
  background-color: red;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
}

.footer {
  text-align: center;
  padding: 10px;
  background-color: white;
}

.support-btn {
  background: none;
  border: none;
  color: #007bff;
  font-weight: bold;
  cursor: pointer;
}


.search-block-inline {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
