@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme {
  --font-roboto: Roboto, sans-serif;
  --color-azul-claro: #B3D3FC;
  --color-azul-principal: #267FF0;
}